networks:
  1panel-network:
    external: true
services:
  jackett:
    container_name: jackett
    env_file:
    - ./envs/global.env
    - .env
    environment:
    - TZ=Asia/Shanghai
    - PUID=1000
    - PGID=1000
    image: linuxserver/jackett:0.24.912
    labels:
      createdBy: Apps
    networks:
    - 1panel-network
    ports:
    - ${PANEL_APP_PORT_HTTP}:9117
    restart: always
    volumes:
    - ${JACKETT_ROOT_PATH}/config:/config
    - ${JACKETT_ROOT_PATH}/downloads:/downloads
